*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fonts*/

@font-face {
    font-family: 'Helvetica';
    src: url(./fonts/Helvetica.ttf) 
    format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Helvetica-Bold';
    src: url(./fonts/Helvetica-Bold.ttf) 
    format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Helvetica-Black';
    src: url(./fonts/helvetica\ black.otf) 
    format('opentype');
    font-weight: normal;
    font-style: normal;
  }

html{
    scroll-behavior: smooth;

}


@media only screen and (min-width:1200px) {
    .nav-item>.nav-link {
        padding: 5px 20px !important;
        display: block !important;
    }
}

.navbar-toggler {
    display:block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.navbar-toggler-icon {
    color: white;
    display: block;
    position: relative;
    transform-origin: 0 0;
    /*aqui é onde fica o tempo da animação*/
    transition: 0.4s;
}

@media only screen and (max-width:992px) {
    .header-inner {
        background-color: #212121 !important;
    }

    .nav-item>.nav-link {
        color: rgb(255, 255, 255) !important
    }

    .logo {
        color: rgb(255, 255, 255) !important;
        font-weight: 600 !important;
    }

    .content-banner .first-title {
        font-size: 30px !important;
    }
}



.header {
    position: relative;
    width: 100%;
    height: 1vh;
}

.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    font-family: 'Helvetica';
}

.logo{
    color: #000000;
    font-size: 30px;
    font-family: 'Helvetica-Bold';
    font-weight: 600;

}

.navbar-brand img {
    margin-top: -20px;
}

.nav-item .nav-link {
    color: #181717;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
    line-height: 36px;
    
    font-size: 16px;
    font-family: 'Helvetica';
    
}

.nav-item .nav-link:hover {
   background-color: rgb(0, 0, 0);
   color: #ffffff;
   
}

.orçamento{
    color: #ffffff;
    border-radius: 30px;
    background-color: rgb(60, 255, 0);
    border: none;
    font-weight: 500;
    outline: none;
    font-size: 15px;
    padding: 7px 22px;
    transition: 0.5s;
}

.orçamento:hover {
    background-color: rgba(2, 255, 23, 0.473);
    cursor: pointer;
}

.orçamento a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Helvetica-Bold';
}

.header-btn {
    color: #ffffff;
    border-radius: 30px;
    background-color: gray;
    border: none;
    font-weight: 500;
    outline: none;
    font-size: 15px;
    padding: 7px 22px;
    transition: 0.5s;
}

.header-btn:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}

.navbar-scroll {
    background-color: #212121;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-scroll .header-btn {
    color: #ffffff;
    background-color: palevioletred;
}

.navbar-scroll .logo {
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.first-title {
    text-transform: capitalize;
}

section {
    background-color: white;
    padding: 4rem 0rem 4rem;
}


/* Banner */
.banner {
    background-image: url('./img/top-view-paint-can.jpg'); /* Substitua pelo seu URL de imagem */
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 60px;
}

.banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Sobreposição escura para o texto se destacar */
}

.banner-content {
    position: relative;
    z-index: 1;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.banner-btn {
    background-color: #ff6700;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.banner-btn:hover {
    background-color: #e65c00;
}


/* Tornando o banner responsivo */
@media (max-width: 768px) {
    .banner h1 {
        font-size: 2em;
    }

    .banner p {
        font-size: 1.2em;
    }

    .banner-btn {
        font-size: 1em;
        padding: 8px 16px;
    }
} 

/* Sobrenós */

#sobre{
    background-image: linear-gradient(316deg, #f42b03 0%, #ffbe0b 74%);
    padding: 4rem 0rem;
    color: white;
}

#sobre h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#sobre p {
    font-size: 1.2em;
    margin-bottom: 20px;
}



#sobre img {
    width: 300px;
    height: 300px;
}

@media  (max-width: 768px) {
    #sobre img {
        width: 200px;
        height: 200px;
        margin-bottom: 50px;
       
    }
    
}


/* Serviços */

#serviços {
    padding: 4rem 0rem;
}

#serviços h2 {
    font-size: 2.5em;
    margin-bottom: 120px;
    text-align: center;
}

#serviços p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#serviços i{
    font-size: 50px;
    color: #ff6700;
    margin-bottom: 15px;
}

#serviços .container {
    gap: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff5202;
    border: #ffffff 1px solid;
    text-decoration: none;
}
.btn::after {
    content: url('./img/cursor.png');
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}

/* Compromisso */

#compromisso {
    background-color: #ff6700;
    padding: 4rem 0rem;
    color: white;
}

#compromisso h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 80px;
}

#compromisso p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#compromisso i{
    margin-bottom: 10px;
    font-size: 40px;
}

@media  (max-width: 768px) {
    #compromisso i{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .avaliação{
        font-size: 15px;
        margin-bottom: 50px;
    }
}

.estrelas {
    margin-bottom: 10px;
    width: 30px;
    display: flex;
}  

.estrelas p {
    margin: 5px;
    font-weight: 700;

}

#avaliação h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 80px;
}

#avaliação img {
    margin-bottom: 10px;
}

.btn-avalia{
    background-color: #ff6700;
    padding: 10px 20px;
    width: 250px;
    color: white;
    text-decoration: none;
    font-size: 1.0em;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 60px;
    animation: 1s ease-in-out 0s infinite alternate none running pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.btn-avalia:hover {
    background-color: #000000;
}

.btn-avalia a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    
    .btn-avalia{
        width: 250px;
        font-size: 15px;	
        margin-left: 22%;
    }
    
}





